body {
font-family: 'Major Mono Display', monospace;
font-family: 'Poppins', sans-serif;
}

/* H1 Header Font Start */
h1 {
font-family: 'Cormorant SC', serif;
font-family: 'Major Mono Display', monospace;
}
/* H1 Header Font End */
