*{
  padding: 0;
  box-sizing: border-box;
}


body {
  height: 100%;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #EEEEEE;
}

/* NavBar Styles */
.my-container{
  padding-bottom: 20px;
  /* border: solid 1px black; */
}

.navigations{
  display: flex;
  width: 100%;
  height: 80px;
  /* border: solid 1px black; */
  align-items: center;
  justify-content: space-around;
  background-color:rgb(248, 240, 229); 
}

.navigations ul{
  display: flex;
  gap: 30px;
}

.navigations ul, li, a {
  list-style: none;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 12px;
  transition: ease-in-out .4s;
}

/* new bootstrap nav */
.navbar-light {
  background-color:rgb(248, 240, 229) !important; 
}
.my-container .nav-link {
  color: black;
}

.my-nav-container{
  border: solid 1px black;
  padding: 6px 30px;
  background-color:rgb(248, 240, 229) 
}

.navbar-light .navbar-toggler {
  color: black;
}

.navbar-toggler:focus {
 box-shadow: 0 0 0 0.1rem  !important;
}

/* new bootstrap nav end*/

/* NavBar Styles End */

/* Search container */
.search-body{
width: 100%;
height: 250px;
/* border: solid 1px black; */
align-items: center;
text-align: center;
padding: 50px 0;
}

.search-title {
  text-align: center;
}

.search-bar{
  margin: auto;
  padding: auto;
}

.search-bar form{
  /* background-color: red; */
  width: auto;
  height: 55px;
  display: flex;
  justify-content: center;
}

.search-bar form input{
  /* flex: 1; */
  border: solid 2px;
  border-left: 0;
  outline: none;
}

.search-bar form button{
  background-color: bisque;
  padding: 10px 50px;
border-left: 0;
  letter-spacing: 5px;
  cursor: pointer;
}

.search-bar form .fa-magnifying-glass{
   align-self: center;
   padding: 20px 20px;
   height: 55px;
   border: solid 2px;
   border-right: 0;
   /* vertical-align: bottom; */
}

/* Search Container End */

/* test run */
.test-run{
 align-items: center;
 justify-content: space-evenly;
    height: 200px;
    border: solid 2px black;
    /* border-bottom: 0; */
    border-left: 0;
    border-right: 0;
}

.test-run .card{
  margin-top: 9px;
  height: 180px;
  padding: 10px;
  text-align: center;
}

.tech-p{
  margin-bottom: 0;
}
/* test run end */

/* login box */
.my-login-container{
  padding-bottom: 20px;
  /* border: solid 1px black; */
  min-height: 500px;
  align-items: center;
  /* position: absolute; */
}

.login-text{
  padding: 20px;
  width: auto;
  margin-top: 10px;
  text-align: center;
}

.box {
  max-width: 400px;
  padding: 50px;
  height: 350px;
  position: relative;
  margin: auto;
  background: white;
  border-radius: 5px;
  box-shadow: 1px 1px 15px -5px rgba(0, 0, 0, 0.3);
}

/* login box end */

/* footer */
footer {
  padding: 20px 0;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-size: 14px;
  margin-bottom: 0px;
  text-align: center;
}

footer .my-footer-icon{
  margin-bottom: 5px;
  margin-top: 2px; 
}

footer .list-inline-item a:hover{
  color:rgb(248, 240, 229) !important;
}

footer .fab:hover{
  color:black !important;  
}

/* footer end */

/* popup */
.popup {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  /* margin-top: 30px; */
  align-items:flex-start;
  background: rgba(0, 0, 0, 0.6);
}

.popup-content{
  height: 150px;
  /* width: рх; */
  background:#fff;
  padding: 10px 20px;
  border-radius: 5px;
  position: relative;
  text-align: center;
}

.close{
text-decoration: underline;
cursor: pointer;
}
/* popup end */

/* display card */
.my-display-card .card{
border: solid 1px black !important;
}
/* display card end */