*{
  padding: 0;
  box-sizing: border-box;
}


body {
  height: 100%;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #EEEEEE;
}

/* NavBar Styles */
.my-container{
  padding-bottom: 20px;
  /* border: solid 1px black; */
}

.navigations{
  display: flex;
  width: 100%;
  height: 80px;
  /* border: solid 1px black; */
  align-items: center;
  justify-content: space-around;
  background-color:rgb(248, 240, 229); 
}

.navigations ul{
  display: flex;
  gap: 30px;
}
a{
  color: black;
}
.navigations ul, li{
  list-style: none;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 12px;
  transition: ease-in-out .4s;
}

.my-nav-container a{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  /* font-size: 12px; */
  transition: ease-in-out .4s;
}

/* new bootstrap nav */
.navbar-light {
  background-color:rgb(248, 240, 229) !important; 
}
.my-container .nav-link {
  color: black;
}

.my-nav-container{
  border: solid 1px black;
  padding: 6px 30px;
  background-color:rgb(248, 240, 229) 
}

.navbar-light .navbar-toggler {
  color: black;
}

.navbar-toggler:focus {
 box-shadow: 0 0 0 0.1rem  !important;
}

/* new bootstrap nav end*/

/* NavBar Styles End */

/* Search container */
.search-body{
width: 100%;
height: 250px;
/* border: solid 1px black; */
align-items: center;
text-align: center;
padding: 50px;
}

.search-title {
  text-align: center;
}

.search-bar{
  margin: auto;
  padding: auto;

}

.search-bar form{
  /* background-color: red; */
  width: auto;
  height: 55px;
  display: flex;
  justify-content: center;
}

.search-bar form input{
  /* flex: 1; */
  border: solid 2px;
  border-left: 0;
  outline: none;
}

.search-bar form button{
  background-color: bisque;
  padding: 10px 50px;
border-left: 0;
  letter-spacing: 5px;
  cursor: pointer;
}

.search-bar form .fa-magnifying-glass{
   align-self: center;
   padding: 20px 20px;
   height: 55px;
   border: solid 2px;
   border-right: 0;
   /* vertical-align: bottom; */
}

/* Search Container End */

/* card-display */
.card-display{
 align-items: center;
 justify-content: space-evenly;
    height: 200px;

    /* border-bottom: 0; */
    border-left: 0;
    border-right: 0;
}

.col-style{
  z-index: -1 !important;
}

.card-display .card{
  margin-top: 9px;
  height: 180px;
  padding: 10px;
  text-align: center;
}

.card-display-p{
  margin-bottom: 0;
}

.my-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-block: solid 2px black;
  padding-bottom: 10px;
}
/* card-display end */

/* login box */
.my-login-container{
  padding-bottom: 20px;
  /* border: solid 1px black; */
  min-height: 450px;
  align-items: center;
  /* position: absolute; */
}

.login-text{
  padding: 20px;
  width: auto;
  margin-top: 10px;
  text-align: center;
}

.box {
  max-width: 400px;
  padding: 30px;
  height: 350px;
  position: relative;
  margin: auto;
  background: white;
  border-radius: 5px;
  box-shadow: 1px 1px 15px -5px rgba(0, 0, 0, 0.3);
}

.flashed-message{
color: red;
}

.help-block{
color: red !important;
}

.btn-checkered {
color: black;
border: solid 2px black;
background-color:rgb(248, 240, 229);
margin-top: 15px
}

.btn-checkered:hover {
background-color: bisque
}

/* login box end */

/* footer */
footer {
  padding: 20px 0;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-size: 14px;
  margin-bottom: 0px;
  text-align: center;
}

footer .my-footer-icon{
  margin-bottom: 5px;
  margin-top: 2px; 
}

footer .list-inline-item a:hover{
  color:rgb(248, 240, 229) !important;
}

footer .fab:hover{
  color:black !important;  
}

/* footer end */

/* popup */
.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  /* margin-top: 30px; */
  align-items:flex-start;
  background: rgba(0, 0, 0, 0.6);
}

.popup-content{
  height: 180px;
  /* width: рх; */
  background:#fff;
  padding: 10px 20px;
  border-radius: 5px;
  position: relative;
  align-items: center;
  text-align: center;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}

.close{
text-decoration: underline;
cursor: pointer;
}


/* popup end */

/* display card */
.my-display-card .card{
border: solid 2px black !important;
}
/* display card end */

/* Diary button*/
.diary-container {
  border: solid 2px black;
  align-self: center;
  /* display: flex; */
  justify-content: center;
   padding: 10px;
   height: 55px;
   width: auto;
   margin-top: 20px ;
   background-color: rgb(248, 240, 229);
   /* cursor: pointer; */
}

/* .diary-container:hover {
  background-color: bisque;
} */
.diary-button{
  padding: 20px 10px;
  width: 200px;
  border: solid 2px;
  background-color: rgb(248, 240, 229);
  text-decoration: none;
  }
.diary-button:hover{
background-color: bisque;
color: black;
}
/* Diary button end */

/* Diary Page */
.diary-page{
  border: solid 2px black;
  padding: 20px;
  margin: 10px 40px 0 40px;
  height: 460px;
  justify-content: center;
  /* height: 100%; */
  /* scroll-behavior: smooth; */
}

/* Diary Page */

/* Diary Body */

.diary-title{
  border: solid 1px black;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 10px;
  align-items: center;
  align-self:center;
  width: fit-content;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  background-color: rgb(248, 240, 229);
}

.diary-entry{
margin-bottom: 20px;
/* border-bottom: solid 1px black; */
width: 100%;

}

.d-submit{
padding: 5px;
background-color: rgb(248, 240, 229);
margin: 0;
}

.diary-entry input{
  border: none;
  border-bottom: solid 1px ;
  padding: 10px;
  outline: none;
width: 100%;
}

.form-wrapper{
  display: grid;
  grid-template-columns: auto 5rem;
  justify-content: space-between;
  padding-right: 0.2rem;
}
.test-form{
display: grid;
    grid-template-columns: auto 5rem;
    justify-content: space-between;
    padding-right: 0.2rem;}

 .diary-form{
  /* display: flex; */
  align-items: center;
  width: 100%;
}

.diary-form{
  display: grid;
  grid-template-columns: 8rem auto;
}

.diary-content{
  overflow-y: scroll;
  max-height: 15rem;
  padding-right: 0.2rem;
}

.diary-month {
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 2rem;
}

.diary-content-item-wrapper{
  display: grid;
  grid-template-columns: 8.2rem auto 5rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.diary-content-item-wrapper button{
  padding: 5px;
  background-color: rgb(248, 240, 229);
  align-items: center;
}

.diary-content-item-wrapper a{
  text-decoration: none;
  color: black;
  border: solid 2px;
  text-align: center;
  padding: 5px;
  background-color: rgb(248, 240, 229);
  align-items: center;
}

.diary-content-item-wrapper a:hover{
  color: bisque;
  background-color: black;
}

.diary-content-item p{
  margin-bottom: 0;
}

.diary-form label{
  display: block;
  white-space: nowrap;
}

.search-exception{
margin-left: 33%;
margin-bottom: 2%
}

/* Diary media query */
/* Tablet & Mobile media below */
@media only screen and (max-width: 768px) {
  .diary-page{
    margin: 0;
    margin-top: 10px;
  }

  .form-wrapper {
    gap: 0.5rem;
  } 
  .diary-form label{
    white-space: nowrap;
  }
  .my-row{
    overflow-x: scroll;
    display: grid;
    /* grid-template-columns: 12rem 12rem 12rem; */
    padding-bottom: 10px;
  }
  .search-exception{
margin-left: none;
margin-bottom: 15%
}
}


@media only screen and (max-width: 720px) {
  .my-row{
    overflow-x: scroll;
    display: grid;
    grid-template-columns: 12rem 12rem 12rem;
    padding-bottom: 10px;
    margin-inline: 3px;
  }
}

/*this is from big mobile to the smallest screen*/
@media only screen and (max-width: 435px) {
.search-bar{
  margin-inline: 3px !important;
  max-width: 100%;
}
.search-body{
  padding: 50px 10px !important;
}

.search-bar form{
width: 100%;
/* padding: auto 3px; */
}

.search-bar input{
  width: 100%;
  position: relative !important;
  /* padding: initial 4rem; */
  padding-left: 2.5rem;
  border-left: solid 2px !important;
  /* border: 2px !important; */
}
.search-bar i{
  position: absolute !important;
  left: 2rem;
  z-index: 1;
  border: none !important;
  padding: unset !important;
  height: unset !important;
}
.search-bar button{
  padding: unset !important;
  width: 70%;
}
}

@media only screen and (max-width: 414px) {
.navbar-brand {
  font-size: 1rem !important;
}
.diary-content-item-wrapper{
  grid-template-columns: none;
}
.search-bar{
  min-width: 80%;
}

}

@media only screen and (max-width: 361px) {
  .my-nav-container{
    padding: 13px;
  }
  .diary-content-item-wrapper{
    grid-template-columns: none;
  }
  .search-title{
    font-size: 14px !important;
  }
  }

  @media only screen and (max-width: 320px) {
    .diary-form, .test-form{
    display: flex;
    flex-direction: column;
    }
    .navbar-brand {
      font-size: 0.7rem !important;
    }
    .diary-content{
      max-height: 13rem;
    }

  }
/* Diary media query end */
/* diary scroll bar  */
::-webkit-scrollbar{
  width: 0.3rem;
}

.my-row::-webkit-scrollbar{
  /* width: 0rem; */
  height: 0.3rem;
}


::-webkit-scrollbar-track{
  background-color: rgb(248, 240, 229);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb{
  background-color: grey;
  border-radius: 100vw;
  
}

::-webkit-scrollbar-thumb:hover{
  background-color: black;
}
/* Diary Body end */
