{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% include "header.html" %}

{% block content %}

<body>

<section>
    <div class="container">
        <h1>
            Welcome to Josh.dev Open Gym Forms
        </h1>
    </div>

    <div class="container">
        <h5>
            Type your exercise below
        </h5>
    </div>


    <div class="container">
        {{ wtf.quick_form(form, button_map={"submit": "success"}, form_type="inline") }}

    </div>

    <div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4">
        {% if exercise_list: %}
    {% for exer in exercise_list %}




  <div class="col">
    <div class="card h-100">

      <div class="card-body">
        <h5 class="card-title">Exercise Name: {{exer["name"]}}</h5>
        <p class="card-text">Exercise Target: {{exer["target"]}}</p>
          <p class="card-text">Exercise BodyPart: {{exer["bodyPart"]}}</p>
          <p class="card-text">Exercise Equipment: {{exer["equipment"]}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Gif Below</small>
      </div>
        <img src="{{exer['gifUrl']}}" class="card-img-bottom" alt="...">
    </div>
  </div>

    {% endfor %}
    {% endif %}

</div>


    </div>
</section>

</body>

{% endblock %}
