{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<body style="">
<section id="hero" class="d-flex flex-column justify-content-center bend">
    <div class="my-container">
        <h1>
            Josh.dev Gym Forms
        </h1>
        <p class="my-p">Welcome to Josh's proper gym form. Learn the proper form for any exercise.</p>
    </div>

    <div class="container">
        <p class="my-p">
            Type your exercise below
        </p>
    </div>


    <div class="container">
        <div class="my-form-container">

        <form class="d-flex" action="{{url_for('home')}}" method="POST">
      <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
            </div>

    </div>


</section>

    <div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4">
        {% if exercise_list: %}
    {% for exer in exercise_list %}


  <div class="col">
    <div class="card h-50">

      <div class="card-body">
          <h5 class="card-title"><strong>Exercise Name: {{exer["name"].title()}}</strong></h5>
        <p class="card-text"><strong>Exercise Target: {{exer["target"]}}</strong> </p>
          <p class="card-text"><strong>Exercise BodyPart: {{exer["bodyPart"]}}</strong>  </p>
          <p class="card-text"><strong>Exercise Equipment: {{exer["equipment"]}}</strong> </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Gif Below</small>
      </div>

        <img src="{{exer['gifUrl']}}" class="card-img-bottom" alt="...">
    </div>
  </div>

    {% endfor %}
    {% endif %}

</div>


    </div>
</body>



{% include "footer.html" %}
{% endblock %}
