{% block content %}
{% include "new-header.html" %}

    <div class="container">
        <div class="diary-page">
            <div class="diary-title"><h5>EXERCISE JOURNAL</h5></div>
            <div class="diary-entry">

<!--            <div class="form-wrapper">-->
                <form class="test-form" action="{{url_for('show_journal')}}" method="POST">
                    <div class="diary-form">
                    <label>TODAY'S ENTRY:</label>
                    <input type="text" name="entry" placeholder="E.g. pull-up, crunches" autofocus>
                        </div>
                    <button class="d-submit" type="submit">enter</button>
                </form>
<!--            </div>-->
                
            </div>
            {% if posts != none %}

            <div class="diary-content">
                 {% for post in posts %}

                <div class="diary-content-item-wrapper"> 
                    <div class="diary-content-item"><h6>{{post.month}}</h6>
                        <h6>{{post.day}}:</h6></div>
                    <div><p>{{post.body}}</p></div>
                <a type="button" href="{{url_for('delete_post', post_id=post.id) }}">delete</a>
            </div>

                {% endfor %}

        </div>
            {% endif %}
        </div>
    </div>

{% include "new-footer.html" %}
{% endblock %}