<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new-styles.css')}}">
</head>
<body>
    <div class="container">
        <nav class="navigations">
            <h1>Josh's Gym Forms</h1>
            <ul>          
                <li>
                    <a href="#">Hello</a>
                </li>
                <li>
                    <a href="#">Login</a>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
            </ul>
        </nav>
    
    </div>
</body>
</html>