<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/new-styles.css">
</head>
<body>
    <div class="container">
        <nav class="navigations">
            <h1>Josh's Gym Forms</h1>
            <ul>          
                <li>
                    <a href="#">Hello!</a>
                </li>
                <li>
                    <a href="#">Login</a>
                </li>
                <!-- <li>
                    <a href="#">Contact Josh</a>
                </li> -->
            </ul>
        </nav>
    </div>

    <div class="container">

<div class="search-body">

    <p class="search-title"> Search for the "Proper" gym forms and Technique</p>
    <form>
        <input type="text" placeholder="type in an exercise">
        <button type="submit"> Search</button>
    </form>

</div>

    </div>
</body>
</html>