{% block content %}
{% include "new-header.html" %}

    <div class="my-container">
<div class="search-body">
    <p class="search-title"> Search for the "Proper" Gym Forms and Techniques</p>
    <div class="search-bar">
    <form action="{{url_for('home')}}" method="POST">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" name="search" placeholder="type in an exercise" autofocus>
        <button type="submit"> Search</button>
    </form>
</div>
<!--    {% if current_user.id: %}-->
<div class="diary-container">
    <a type="button" class="diary-button" href="{{url_for('show_journal') }}">Take me to my Gym Diary </a>
 </div>
<!--    {% endif %}-->
</div>
    </div>

        <div class="container my-display-card">
<div class="row row-cols-1 row-cols-md-3 g-4">
        {% if exercise_list: %}
    {% for exer in exercise_list %}


  <div class="col">
    <div class="card h-30 ">

      <div class="card-body">
          <h5 class="card-title"><strong>{{exer["name"].title()}}</strong></h5>
        <p class="card-text">Exercise Target: {{exer["target"]}} </p>
          <p class="card-text">Exercise BodyPart: {{exer["bodyPart"]}}  </p>
          <p class="card-text">Exercise Equipment: {{exer["equipment"]}} </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Gif Below</small>
      </div>

        <img src="{{exer['gifUrl']}}" class="card-img-bottom" alt="...">
    </div>
  </div>

    {% endfor %}

<!--    {% else %}-->
<!--    <div class="col search-exception">-->
<!--    <div class="card h-30 ">-->

<!--      <div class="card-body">-->
<!--    <h5>Your searched item can't be found. Try using a "-" or "space" in between your search or type in another exercise.</h5>-->
<!--      </div>-->
<!--    </div>-->
<!--    </div>-->
<!--    {% endelse %}-->

    {% endif %}

</div>


    </div>

{% include "new-footer.html" %}
{% endblock %}