{% block content %}
{% include "new-header.html" %}

    <div class="my-container">
<div class="search-body">
    <p class="search-title"> Search for the "Proper" Gym Forms and Techniques</p>
    <div class="search-bar">
    <form action="{{url_for('home')}}" method="POST" >
        <i class="fa-solid fa-magnifying-glass "></i>
        <input type="text" name="search" placeholder="type in an exercise" autofocus>
        <button type="submit"> Search</button>
    </form>
</div>
</div>
    </div>

    <div class="container">
        <div class="card-display">

            <div class="row my-row">

<div class="col-style">
    <div class="card"><h3>Login</h3>
        <p>Create an account with us today!</p>
    </div>
    
</div>

<div class="col-style">
    <div class="card"><h3>Track-it</h3>
        <p>Sign up and Track your workout with our in-built exercise diary!</p></div>
</div>

<div class="col-style">
    <div class="card"><h3>Technique</h3>
        <p class="card-display-p">Are you a visual learner?</p><p>You're in the right place!</p></div>
</div>
                
                </div>

        </div>
    </div>

{% include "new-footer.html" %}
{% endblock %}
