{% block content %}
{% include "new-header.html" %}

    <div class="container">
        <div class="diary-page">
            <div class="diary-title"><h5>EXERCISE JOURNAL</h5></div>
            <div class="diary-entry">

<!--            <div class="form-wrapper">-->
                <form class="test-form" action="{{url_for('show_journal')}}" method="POST">
                    <div class="diary-form">
                    <label>TODAY'S ENTRY:</label>
                    <input type="text" name="entry" placeholder="E.g. pull-up, crunches" autofocus>
                        </div>
                    <button class="d-submit" type="submit">enter</button>
                </form>

<!--            </div>-->
                
            </div>

            <div class="diary-content">
                 {% for post in posts %}

              <h3 class="diary-month">OCTOBER 2022</h3>
                <div class="diary-content-item-wrapper"> 
                    <div class="diary-content-item"><h6>07 MONDAY:</h6></div>
                    <div><p>pull-ups, crunches, back-rows,pull-ups, crunches, back-rows,pull-ups, crunches, back-rows </p></div>                
                <a type="button" href="{{url_for('delete_post', post_id=post.id) }}">delete</a>
            </div>

                {% endfor %}
<!--            <div class="diary-content-item-wrapper"> -->
<!--              <div class="diary-content-item"><h6>08 TUESDAY:</h6></div>-->
<!--              <div class="diary-exercise"><p>pull-ups, crunches, back-rows,pull-ups, crunches, back-rows,pull-ups, crunches, back-rows </p></div>                -->
<!--          <button type="button">delete</button>-->
<!--      </div>-->
<!--      -->
<!--      <div class="diary-content-item-wrapper"> -->
<!--        <div class="diary-content-item"><h6>09 WEDNESDAY:</h6></div>-->
<!--        <div class="diary-exercise"><p>pull-ups, crunches, back-rows,pull-ups, crunches, back-rows,pull-ups, crunches, back-rows </p></div>                -->
<!--    <button type="button">delete</button>-->
<!--</div>-->
        </div>
        </div>
    </div>

{% include "new-footer.html" %}
{% endblock %}